<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Treehouse Show Episode 13</string>
	<string>Getting A Job In Web Design and Development</string>
	<string>Treehouse Friends: Paul Irish</string>
	<string>An Interview with Shay Howe</string>
	<string>Get started with iOS Development</string>
	<string>The Missing Widget in the Android SDK: SmartImageView</string>
</array>
</plist>
